<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">





<test name="Application Login">
    <classes>
        <class name="com.pega.Session11.a_LOG4JApi.MavenTestng" ></class>
    </classes>
</test>

<test name="Selling Books">
    <classes>
        <class name="com.pega.Session11.a_LOG4JApi.MavenTestng" ></class>
    </classes>
</test>


</suite>
